.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;

    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homepic {
    width: 100%;
    height: 70vh;
    background-size: cover;
}