.VistaCitas {
    padding: 4em 0 4em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ContenedorCitas{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    height: 12em;
    width: 22em;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    font-size: 12px;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1.5em;
    margin-bottom: 1em;
}

p {
    height: 0.5em;
}