.VistaCitas {
    height: 70vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    box-sizing: border-box;
    height: 10em;
    width: 20em;
    background-color: chocolate;
    font-size: 12px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}