.nav {
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7), rgba(255,255,255,0.3));
    background: white;
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 0;
}
  
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space {
  height: 10vh;
  width: 50vw;
}

.NavLink {
  color: #050401;
  display: flex;
  align-items: center;
  height: 100%;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}

.img {
  height: 5em;
  width: auto;
  padding-top: 0.5em;
  max-height: 10em;
}

.NavMenu {
  width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavLink:hover {
  background: linear-gradient(to right top, #65dfc9, #6cdbeb);
  border-radius: 2%;
  transition: 1s;
}